.size{
    background-color: rgba(138, 138, 138, 0.616);
    backdrop-filter: blur(5px);
    width: 0%;
    height: 270%;
    position: absolute;
    top: 0%;
}
.closet1{
    width: 450px;
    height: 450px;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    border-radius: 24px;
    border: 1px solid rgb(41, 41, 41);
    margin: 20px;
    display: none;
}
.close1{
    color: rgb(252, 252, 252);
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-left: 40%;
    margin-top: -15%;
    font-size: 50px;
    display: none;
}
.btn{
    all: unset;
    color: aliceblue;
    background-color: rgb(75, 75, 75);
    width: 200px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: inset 2px 2px 10px #000;
    margin-left: 40%;
    font-size: 40px;
    transition: 0.3s;
    display: none;

}
.btn:hover{
    color: rgb(164, 165, 165);
}