@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

/* header / custom */

.home{
    font-size: 20px;
    position: absolute;
    margin-top: -3px;
    margin-left: -5px;
    display: none;
    background-color: rgba(138, 138, 138, 0.801);
    padding: 10px;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    letter-spacing: 1px;
}
.profile{
    font-size: 20px;
    position: absolute;
    margin-top: -3px;
    margin-left: 80px;
    display: none;
    background-color: rgba(138, 138, 138, 0.801);
    padding: 10px;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    letter-spacing: 1px;
}
.logout{
    font-size: 20px;
    position: absolute;
    margin-top: -3px;
    margin-left: 185px;
    display: none;
    background-color: rgba(138, 138, 138, 0.801);
    padding: 10px;
    border-radius: 5px;
    color: rgb(5, 5, 5);
    letter-spacing: 1px;
}

.content-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 100px;
    box-shadow: 0px 5px 10px #000;
}
.logo-name{
    color: rgb(73, 73, 73);
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}
.options{
    color: rgb(73, 73, 73);
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: 40%;
    cursor: pointer;
    padding: 5px;
    background: rgb(223, 224, 223);
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.options:hover{
    color: rgb(99, 99, 99);
    background-color: rgb(187, 187, 187);
}

.search{
    all: unset;
    border: 2px solid rgb(87, 87, 87);
    height: 30px;
    padding: 5px;
    border-radius: 24px;
    width: 150px;
    margin-top: 25px;
    transition: 0.3s;
    color: rgb(148, 145, 145);
    font-family: monospace;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 20px;
}
.search:hover{
    width: 200px;
    border: 2px solid rgb(163, 165, 163);
}
.search:focus{
    width: 200px;
}
#search{
    position: absolute;
    margin-top: 35px;
    font-size: 25px;
    margin-left: 10px;
}

.send{
    all: unset;
    border: 2px solid #888;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    margin-left: -35px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.342);
}
.send:hover{
    background-color: rgba(172, 171, 171, 0.658);
    transform: scale(1.1);
    transition: 0.3s;
}
.error-search{
    font-size: 15px;
    color: red;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-left: -30%;
    display: none;
    position: absolute;
}

                    /* cards */

@keyframes bgc {
    10%{
        box-shadow: 2px 2px 20px lightgreen;
    }
    20%{
        box-shadow: 2px 2px 20px rgb(126, 231, 126);
    }
    30%{
        box-shadow: 2px 2px 20px rgb(87, 231, 87);
    }
    40%{
        box-shadow: 2px 2px 20px rgb(59, 233, 59);
    }
    50%{
        box-shadow: 2px 2px 20px rgb(43, 223, 43);
    }
    60%{
        box-shadow: 2px 2px 20px rgb(19, 235, 19);
    }
    70%{
        box-shadow: 2px 2px 20px rgb(0, 255, 0);
    }
    80%{
        box-shadow: 2px 2px 20px rgb(63, 218, 63);
    }
    90%{
        box-shadow: 2px 2px 20px rgb(102, 233, 102);
    }
    100%{
        box-shadow: 2px 2px 20px lightgreen;
    }
}

img{
    width: 250px;
    height: 250px;
}
.card{
    border: 2px solid rgb(138, 137, 137);
    position: relative;
    width: 250px;
    padding: 20px;
    background-color: rgb(240, 238, 238);
    margin-top: 30px;
    margin-left: 70px;
    box-shadow: 5px 5px 10px #000;
    cursor: pointer;
}
#card3::before{
    content: " Promoção ";
    color: #ff0000b6;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    left: 2px;
    margin-left: -2px;
    margin-top: -20px;
    border-bottom-right-radius: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(211, 207, 207);
    position: absolute;
    box-shadow: inset 2px 2px 5px #000;

}
#card5::before{
    content: " Promoção ";
    color: #ee5873;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    left: 2px;
    margin-left: -2px;
    margin-top: -20px;
    border-bottom-right-radius: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(211, 207, 207);
    position: absolute;
    box-shadow: inset 2px 2px 5px #000;

}
#card1::before{
    content: " Promoção ";
    color: #ee5873;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    left: 2px;
    margin-left: -2px;
    margin-top: -20px;
    border-bottom-right-radius: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(211, 207, 207);
    position: absolute;
    box-shadow: inset 2px 2px 5px #000;

}
#card7::before{
    content: " Promoção ";
    color: #ee5873;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    left: 2px;
    margin-left: -2px;
    margin-top: -20px;
    border-bottom-right-radius: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(211, 207, 207);
    position: absolute;
    box-shadow: inset 2px 2px 5px #000;

}
#card8::before{
    content: " Promoção ";
    color: #ee5873;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    left: 2px;
    margin-left: -2px;
    margin-top: -20px;
    border-bottom-right-radius: 100px;
    width: 200px;
    height: 40px;
    background-color: rgb(211, 207, 207);
    position: absolute;
    box-shadow: inset 2px 2px 5px #000;

}
.card::after{
    content: "";
    width: 200px;
    height: 40px;
    background-color: rgb(211, 207, 207);
    position: absolute;
    margin-top: -20px;
    margin-left: 70px;
    border-top-left-radius: 100px;
    box-shadow: inset 2px 2px 5px #000;
}


.card:hover img{
    transform: scale(1.1)skew(1deg) rotate(2deg) translatey(18px);
    transition: 1s;
}

main{
    background-color: #fff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    box-shadow: 2px 2px 10px #000;
}
.card h1{
    color: rgb(122, 122, 122);
}
main .card:hover{
        transform: scale(1.1);
        transition: 0.5s;
        animation: bgc 10s infinite;
    }
#card2{
    position: absolute;
    margin-top: -530px;
    margin-left: 38.5%;
}
#card3{
    position: absolute;
    margin-top: -530px;
    margin-left: 70%;
}
.rigth{
    position: absolute;
    font-size: 60px;
    margin-left: 95%;
    margin-top: -30%;
    color: rgb(132, 132, 133);
}
#card4{
    margin-top: 80px;
    background-color: #fff;
}
#card5{
    margin-left: 38.5%;
    margin-top: -530px;
    background-color: #fff;
}
#card6{
    margin-left: 70%;
    margin-top: -530px;
    background-color: #fff;
}
#card7{
    margin-top: 80px;
    background-color: #fff;
}
#card8{
    margin-left: 38.5%;
    margin-top: -530px;
    background-color: rgb(248, 245, 245);
}
#card9{
    margin-left: 70%;
    margin-top: -530px;
}






                        /* responsive */

@media (max-width: 1000px){
    #card3{
        position: relative;
        margin-left: 20px;
        margin-top: 100px;
    }
    #card2{
        margin-left: 55% ;
    }
    .card{
        margin-left: 10%;
    }
    #card4{
        margin-top: -535px;
        margin-left: 55%;
    }
    #card5{
        margin-top: 70px;
        margin-left: 17px;
    }
    #card6{
        margin-left: 55%;
    }
    #card7{
        margin-left: 17px;
    }
    #card8{
        margin-left: 55%;
    }
    #card9{
        display: none;
    }
    

}
@media (max-width:1160px){
    .left{
        display: none;
    }
    .rigth{
        display: none;
    }
    .card{
        margin-left: 20px;
    }
    
}
@media (max-width:500px) {
    #card2{
        margin-left: 30px;
        margin-top: 50px;
        position: relative;
    }
    .card{
        margin-left: 30px;
    }
    #card3{
        margin-top: 30px;
        margin-left: 30px;
    }
    #card4{
        margin-top: 30px;
        margin-left: 30px;
    }
    #card5{
        margin-top: 30px;
        margin-left: 30px;
    }
    #card6{
        margin-top: 30px;
        margin-left: 30px;
    }
    #card7{
        margin-top: 30px;
        margin-left: 30px;
    }
    #card8{
        margin-top: 30px;
        margin-left: 30px;
    }
    #card9{
        margin-top: 30px;
        margin-left: 30px;
    }
    .options{
        display: none;
    }
}

@media (max-width:400px){
    .logo-name i{
        display: none;
    }
    .logo-name{
        font-size: 40px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    .options{
        display: none;
    } 

    #card4{
        margin-left: 30px;
        margin-top: 30px;
    }
    #card5{
        margin-left: 30px;
    }
    #card6{
        margin-left: 30px;
        margin-top: 50px;
    }
    #card7{
        margin-left: 30px;
    }
    #card8{
        margin-left: 30px;
        margin-top: 50px;
    }
    .error-search{
        visibility: hidden;
    }
    .send{
        display: none;
    }
}

@media (max-width:800px){
    .search{
        display: none;
    }
    #search{
        display: none;
    }
    .send{
        display: none;
    }
    .error-search{
        visibility: hidden;
    }
}

@media(max-width:350px){
    .card{
        transform: scale(0.8);
    }
    .card:hover{
        left: -20px;
    }
}

                            /* footer / sugestões */

footer{
    background-color: rgba(212, 212, 212, 0.671);
    height: 400px;
    box-shadow: inset 2px 2px 10px rgb(107, 107, 107);
}
ul{
    display: inline-block;
    margin-left: 22%;
    list-style-type: none;
    margin-top: 30px;
}
li{
    padding-bottom: 10px;
}
a{
    color: rgb(117, 117, 117);
    font-size: 25px;
}
a:hover{
    color: rgb(73, 73, 73);
    transition: 0.3s;
}
.referencia{
    color: rgb(71, 71, 71);
    text-align: center;
}